/* 

Copyright 2018
Brooks Jeremiah Wibberding
All Rights Reserved

*/

$button_foreground_color: black;
$button_foreground_color_hover: whitesmoke;
$button_background_color: white;
$border: 1px solid lightgrey;
$side_padding: 15px;
$border-radius: 0px;
$font-weight: 100;

$submit_color: #5269d3;
$warn_color: #d25151;

$button_hover_shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
$button_press_shadow: inset 0px 0px 12px -5px rgba(0,0,0,0.75);

/*TABLES*/

$light_grey_table_row: #e5e5e5;
$light_grey_table_row_hover: rgba(0, 0, 0, 0.1);

$table_row_padding: 15px;
$table_row_border: 1px dashed #e5e5e5;

* {
	font-family: sans-serif;
	transition: all 0.1s ease-out;

	button {
		display: inline-flex;
		background-color: $button_background_color;
		color: $button_foreground_color;
		font-size: 1em;
		font-weight: $font-weight;
		padding: 10px;
		padding-left: $side_padding;
		padding-right: $side_padding;
		border: $border;
		border-radius: $border-radius;
		outline: none !important;
		margin: 5px;
	}

	button:hover {
		background-color: $button_foreground_color_hover;

		-webkit-box-shadow: $button_hover_shadow;
		-moz-box-shadow: $button_hover_shadow;
		box-shadow: $button_hover_shadow;

		cursor: pointer;
	}

	button:active {
		-webkit-box-shadow: $button_press_shadow;
		-moz-box-shadow: $button_press_shadow;
		box-shadow: $button_press_shadow;
	}

	.submit {
		background-color: $submit_color;
		color: $button_background_color;

	} .submit:hover {

		color: $submit_color;
	}

	.warn {
		background-color: $warn_color;
		color: $button_background_color;

	} .warn:hover {

		color: $warn_color;
		cursor: no-drop;
	}

	/*TABLES*/
	table {
		border: 1px solid #e5e5e5;
		border-collapse: collapse;
	}

	td, th {
		transition: none !important;
		border: $table_row_border;
		padding: $table_row_padding;
		margin: 0px;
	} td:hover {
		background-color: $light_grey_table_row_hover;
		cursor: zoom-in;
	} td:active {
		/*ZOOMS IN*/
		position: relative;
		position: absolute;
		padding: $table_row_padding * 2;
		font-size: 2em;
		background-color: white !important;
	}

	tr:nth-child(even) {
	    background-color: $light_grey_table_row;
	}
}